
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Header_.cshtml";
}

<section class="recruitment job">
    <div class="container-small">
        <div class="detail-list">
            <div class="detail-content detail-item">
                <div class="detail-title">
                    <p>Tìm thấy <strong>1553</strong> việc làm mới nhất 2024</p>
                    <div class="detail-blockSelect">
                        <strong>Sắp xếp theo :</strong>
                        <div class="detail-select">
                            <div class="detail-option active" data-id="#dataUpdate">Ngày cập nhật</div>
                            <div class="detail-option" data-id="#hot">Hot Nhất</div>
                            <div class="detail-option" data-id="#salary">Lương cao</div>
                        </div>
                    </div>
                </div>
                <div class="card-body active" id="dataUpdate">
                    @foreach (var item in ViewBag.vieclammoi)
                    {
                             <div class="card-item">
                                <a href="#" class="item-content">
                                <div class="item-content--company">
                                    <div class="flex">
                                        <div class="avatar">
                                            <img src="@("https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo)"  alt="">
                                        </div>
                                        <div class="title-company">
                                            <span class="title">
                                              @item.TieuDeTuyenDung
                                            </span>
                                            <p class="company">@item.TenDoanhNghiep</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content--info">
                                    <div class="flex">
                                        <div class="flex-item">
                                            <i class="bi bi-people-fill"></i>
                                            <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-geo-alt"></i>
                                            <span> <strong>Địa Chỉ: </strong> @item.DiaChi_Tinh_Huyen</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-clock"></i>
                                            <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person"></i>
                                            <span> <strong>Giới tính :</strong> @item.Gioi_Tinh</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person-badge"></i>
                                            <span> <strong>Độ tuổi :</strong> @item.DO_TUOI</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-calendar"></i>
                                            <span><strong>Kinh nghiệm:</strong> @item.TenKinhNghiem</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                    }
                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
                <div class="card-body" id="hot">
                    @foreach (var item in ViewBag.vieclammoi)
                    {
                        if(item.NoiBat)
                        {
                            <div class="card-item label-hot">
                             <a href="#" class="item-content">
                                <div class="item-content--company">
                                    <div class="flex">
                                        <div class="avatar">
                                            <img src="@("https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo)"  alt="">
                                        </div>
                                        <div class="title-company">
                                            <span class="title">
                                              @item.TieuDeTuyenDung
                                            </span>
                                            <p class="company">@item.TenDoanhNghiep</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content--info">
                                    <div class="flex">
                                        <div class="flex-item">
                                            <i class="bi bi-people-fill"></i>
                                            <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-geo-alt"></i>
                                            <span> <strong>Địa Chỉ: </strong> @item.DiaChi_Tinh_Huyen</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-clock"></i>
                                            <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person"></i>
                                            <span> <strong>Giới tính :</strong> @item.Gioi_Tinh</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person-badge"></i>
                                            <span> <strong>Độ tuổi :</strong> @item.DO_TUOI</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-calendar"></i>
                                            <span><strong>Kinh nghiệm:</strong> @item.TenKinhNghiem</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }

                            
                        
                        
                    }
                    
                   
                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
                <div class="card-body" id="salary">
                    <div class="card-list">
                        @foreach (var item in ViewBag.vieclammoi) {
                            if(item.LuongTu > 0)
                            {
                                <div class="card-item">
                            <a href="#" class="item-content">
                                <div class="item-content--company">
                                    <div class="flex">
                                        <div class="avatar">
                                            <img src="@("https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo)"  alt="">
                                        </div>
                                        <div class="title-company">
                                            <span class="title">
                                              @item.TieuDeTuyenDung
                                            </span>
                                            <p class="company">@item.TenDoanhNghiep</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content--info">
                                    <div class="flex">
                                        <div class="flex-item">
                                            <i class="bi bi-people-fill"></i>
                                            <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-geo-alt"></i>
                                            <span> <strong>Địa Chỉ: </strong> @item.DiaChi_Tinh_Huyen</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-clock"></i>
                                            <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person"></i>
                                            <span> <strong>Giới tính :</strong> @item.Gioi_Tinh</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person-badge"></i>
                                            <span> <strong>Độ tuổi :</strong> @item.DO_TUOI</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-calendar"></i>
                                            <span><strong>Kinh nghiệm:</strong> @item.TenKinhNghiem</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                            }
                            
                        }
                      
                    </div>
                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
            </div>
            <div class="detail-filter detail-item" id="blockFilterRight">
                <div class="filter-header">
                    <p>
                        Bộ lọc nâng cao
                    </p>
                </div>
                <div class="filter-inner">
                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo mức lương
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.mucluongtracuu)
                                {
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customRadioMucluong_@(item.MucLuong_Id)" name="filter-capbac-ml-1" data-text="thoa-thuan" class="custom-control-input filter" value="1" data-type="mucluong">
                                            <label class="custom-control-label" for="customRadioMucluong_@(item.MucLuong_Id)">
                                                <span>@item.TenMucLuong</span>
                                            </label>
                                        </div>
                                    </li>
                                }

                                @*<li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_2" name="filter-capbac-ml-2" data-text="duoi-3-trieu" class="custom-control-input filter" value="2" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_2">
                                <span>Dưới 3 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_3" name="filter-capbac-ml-3" data-text="3-5-trieu" class="custom-control-input filter" value="3" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_3">
                                <span>3 - 5 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_4" name="filter-capbac-ml-4" data-text="5-7-trieu" class="custom-control-input filter" value="4" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_4">
                                <span>5 - 7 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_5" name="filter-capbac-ml-5" data-text="7-10-trieu" class="custom-control-input filter" value="5" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_5">
                                <span>7 - 10 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_7" name="filter-capbac-ml-7" data-text="12-15-trieu" class="custom-control-input filter" value="7" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_7">
                                <span>12 - 15 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_8" name="filter-capbac-ml-8" data-text="15-20-trieu" class="custom-control-input filter" value="8" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_8">
                                <span>15 - 20 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_9" name="filter-capbac-ml-9" data-text="20-25-trieu" class="custom-control-input filter" value="9" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_9">
                                <span>20 - 25 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_10" name="filter-capbac-ml-10" data-text="25-30-trieu" class="custom-control-input filter" value="10" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_10">
                                <span>25 - 30 triệu</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioMucluong_11" name="filter-capbac-ml-11" data-text="tren-30-trieu" class="custom-control-input filter" value="11" data-type="mucluong">
                            <label class="custom-control-label" for="customRadioMucluong_11">
                                <span>Trên 30 triệu</span>
                            </label>
                        </div>
                    </li>*@
                            </ul>
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo kinh nghiệm
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active" id="filterKinhNghiem">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.kinhnghiemtracuu)
                                {
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="customRadioKinhNghiem_@(item.KinhNghiem_ID)" name="filter-kinhnghiem" data-text="khong-yeu-cau" class="custom-control-input filter" value="1" data-type="kinhnghiem">
                                            <label class="custom-control-label" for="customRadioKinhNghiem_@(item.KinhNghiem_ID)">
                                                <span>@item.TenKinhNghiem</span>
                                            </label>
                                        </div>
                                    </li>
                                }

                                @*<li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_8" name="filter-kinhnghiem" data-text="duoi-1-nam" class="custom-control-input filter" value="8" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_8">
                                <span>Dưới 1 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_2" name="filter-kinhnghiem" data-text="1-nam" class="custom-control-input filter" value="2" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_2">
                                <span>1 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_3" name="filter-kinhnghiem" data-text="2-nam" class="custom-control-input filter" value="3" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_3">
                                <span>2 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_4" name="filter-kinhnghiem" data-text="3-nam" class="custom-control-input filter" value="4" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_4">
                                <span>3 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_5" name="filter-kinhnghiem" data-text="4-nam" class="custom-control-input filter" value="5" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_5">
                                <span>4 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_6" name="filter-kinhnghiem" data-text="5-nam" class="custom-control-input filter" value="6" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_6">
                                <span>5 năm</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioKinhNghiem_7" name="filter-kinhnghiem" data-text="tren-5-nam" class="custom-control-input filter" value="7" data-type="kinhnghiem">
                            <label class="custom-control-label" for="customRadioKinhNghiem_7">
                                <span>Trên 5 năm</span>
                            </label>
                        </div>
                    </li>*@
                            </ul>
                        </div>
                    </div>
                    
                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo trình độ
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.trinhdotracuu)
                                {   
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="customRadioTrinhDo_@(item.TrinhDoChuyenMon_ID)" name="filter-trinhdo[]">
                                                <label class="custom-control-label" for="customRadioTrinhDo_@(item.TrinhDoChuyenMon_ID)">
                                                    <span>@item.TenChuyenMon</span>
                                                </label>
                                            </div>
                                        </li>
                                    
                                }

                                @*<li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_1" name="filter-trinhdo" data-text="tren-dai-hoc" class="custom-control-input filter" value="1" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_1">
                                <span>Trên đại học</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_2" name="filter-trinhdo" data-text="dai-hoc" class="custom-control-input filter" value="2" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_2">
                                <span>Đại học</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_3" name="filter-trinhdo" data-text="cao-dang" class="custom-control-input filter" value="3" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_3">
                                <span>Cao đẳng</span>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_4" name="filter-trinhdo" data-text="trung-cap" class="custom-control-input filter" value="4" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_4">
                                <span>Trung cấp</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_5" name="filter-trinhdo" data-text="chung-chi-nghe" class="custom-control-input filter" value="5" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_5">
                                <span>Chứng chỉ nghề</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="customRadioTrinhDo_6" name="filter-trinhdo" data-text="pho-thong" class="custom-control-input filter" value="6" data-type="trinhdo">
                            <label class="custom-control-label" for="customRadioTrinhDo_6">
                                <span>Phổ thông</span>
                            </label>
                        </div>
                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


