
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Header_.cshtml";
}

<section class="recruitment job">
    <div class="container-small">
        <div class="detail-list">
            <div class="detail-content detail-item">
                <div class="detail-title">
                    <p>Tìm thấy <strong>1533</strong> việc làm mới nhất 2024</p>
                    <div class="detail-blockSelect">
                        <strong>Sắp xếp theo :</strong>
                        <div class="detail-select">
                            <div class="detail-option active" data-id="#dataUpdate">Ngày cập nhật</div>
                            <div class="detail-option" data-id="#hot">Hot Nhất</div>
                            <div class="detail-option" data-id="#salary">Lương cao</div>
                        </div>
                    </div>
                </div>
                <div class="card-body active" id="dataUpdate">
                    @foreach (var item in ViewBag.vieclammoi)
                    {
                        <div class="card-item" data-muc-luong="@item.SMucLuong" data-kinh-nghiem="@item.SKinhNghiem"
                             data-trinh-do="@item.STrinhDo">
                            <a href="#" class="item-content">
                                <div class="item-content--company">
                                    <div class="flex">
                                        <div class="avatar">
                                            <img src="@(item.Logo != null ? "https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo : "default_logo.png")" alt="">
                                        </div>
                                        <div class="title-company">
                                            <span class="title">
                                                @item.TieuDeTuyenDung
                                            </span>
                                            <p class="company">@item.Ten_DN</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content--info">
                                    <div class="flex">
                                        <div class="flex-item">
                                            <i class="bi bi-people-fill"></i>
                                            <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-geo-alt"></i>
                                            <span> <strong>Địa Chỉ: </strong> @item.Ten_Tinh</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-clock"></i>
                                            <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person"></i>
                                            <span> <strong>Giới tính :</strong> @item.GioiTinh</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-person-badge"></i>
                                            <span> <strong>Độ tuổi :</strong> @item.YeuCauTuoiTu</span>
                                        </div>
                                        <div class="flex-item">
                                            <i class="bi bi-calendar"></i>
                                            <span><strong>Kinh nghiệm:</strong> @item.KinhNghiem</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
                <div class="card-body" id="hot">
                    @foreach (var item in ViewBag.vieclammoi)
                    {
                        if (item.NoiBat == true)
                        {
                            <div class="card-item label-hot " data-muc-luong="@item.SMucLuong" data-kinh-nghiem="@item.SKinhNghiem"
                                 data-trinh-do="@item.STrinhDo">
                                <a href="#" class="item-content">
                                    <div class="item-content--company">
                                        <div class="flex">
                                            <div class="avatar">
                                                <img src="@(item.Logo != null ? "https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo : "default_logo.png")" alt="">
                                            </div>
                                            <div class="title-company">
                                                <span class="title">
                                                    @item.TieuDeTuyenDung
                                                </span>
                                                <p class="company">@item.Ten_DN</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-content--info">
                                        <div class="flex">
                                            <div class="flex-item">
                                                <i class="bi bi-people-fill"></i>
                                                <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                            </div>
                                            <div class="flex-item">
                                                <i class="bi bi-geo-alt"></i>
                                                <span> <strong>Địa Chỉ: </strong> @item.Ten_Tinh</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                            </div>
                                            <div class="flex-item">
                                                <i class="bi bi-clock"></i>
                                                <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                            </div>
                                            <div class="flex-item">
                                                <i class="bi bi-person"></i>
                                                <span> <strong>Giới tính :</strong> @item.GioiTinh</span>
                                            </div>
                                            <div class="flex-item">
                                                <i class="bi bi-person-badge"></i>
                                                <span> <strong>Độ tuổi :</strong> @item.YeuCauTuoiTu</span>
                                            </div>
                                            <div class="flex-item">
                                                <i class="bi bi-calendar"></i>
                                                <span><strong>Kinh nghiệm:</strong> @item.KinhNghiem</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }




                    }


                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
                <div class="card-body" id="salary">
                    <div class="card-list">
                        @foreach (var item in ViewBag.vieclammoi)
                        {
                            if (item.MucLuong != "Thỏa thuận khi phỏng vấn")
                            {
                                <div class="card-item" data-muc-luong="@item.SMucLuong" data-kinh-nghiem="@item.SKinhNghiem"
                                     data-trinh-do="@item.STrinhDo">
                                    <a href="#" class="item-content">
                                        <div class="item-content--company">
                                            <div class="flex">
                                                <div class="avatar">
                                                    <img src="@(item.Logo != null ? "https://vieclambinhduong.vn/Content/Upload/Logo_DN/" + item.Logo : "default_logo.png")" alt="">
                                                </div>
                                                <div class="title-company">
                                                    <span class="title">
                                                        @item.TieuDeTuyenDung
                                                    </span>
                                                    <p class="company">@item.Ten_DN</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-content--info">
                                            <div class="flex">
                                                <div class="flex-item">
                                                    <i class="bi bi-people-fill"></i>
                                                    <span> <strong>Số lượng :</strong>@item.SoLuongTuyen </span>
                                                </div>
                                                <div class="flex-item">
                                                    <i class="bi bi-geo-alt"></i>
                                                    <span> <strong>Địa Chỉ: </strong> @item.Ten_Tinh</span>  @*<span> <strong>Huyện: </strong> @item.Huyen </span>*@
                                                </div>
                                                <div class="flex-item">
                                                    <i class="bi bi-clock"></i>
                                                    <span> <strong>Hạn nộp :</strong> @item.NgayHetHan</span>
                                                </div>
                                                <div class="flex-item">
                                                    <i class="bi bi-person"></i>
                                                    <span> <strong>Giới tính :</strong> @item.GioiTinh</span>
                                                </div>
                                                <div class="flex-item">
                                                    <i class="bi bi-person-badge"></i>
                                                    <span> <strong>Độ tuổi :</strong> @item.YeuCauTuoiTu</span>
                                                </div>
                                                <div class="flex-item">
                                                    <i class="bi bi-calendar"></i>
                                                    <span><strong>Kinh nghiệm:</strong> @item.KinhNghiem</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            }

                        }

                    </div>
                    <button class="effect load-more effect-1">Xem thêm</button>
                </div>
            </div>
            <div class="detail-filter detail-item" id="blockFilterRight">
                <div class="filter-header">
                    <p>
                        Bộ lọc nâng cao
                    </p>
                </div>
                <div class="filter-inner">
                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo mức lương
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.mucluongtracuu)
                                {
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   id="customRadioMucluong@(item.MucLuong_Id)"
                                                   name="mucLuongIds"
                                                   value="@item.MucLuong_Id"
                                                   data-ml-1="@item.MucLuong_Id">
                                            <label class="custom-control-label" for="customRadioMucluong@(item.MucLuong_Id)">
                                                <span>@item.TenMucLuong</span>
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo kinh nghiệm
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active" id="">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.kinhnghiemtracuu)
                                {
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   id="customRadioKinhNghiem@(item.KinhNghiem_ID)"
                                                   name="kinhNghiemIds"
                                                   value="@item.KinhNghiem_ID"
                                                   data-ml-1="@item.KinhNghiem_ID">
                                            <label class="custom-control-label" for="customRadioKinhNghiem@(item.KinhNghiem_ID)">
                                                <span>@item.TenKinhNghiem</span>
                                            </label>
                                        </div>
                                    </li>

                                }


                            </ul>
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-title accordion active">
                            <p>
                                Lọc theo trình độ
                            </p>
                            <i class="bi bi-chevron-double-down"></i>
                        </div>
                        <div class="filter-list active">
                            <ul class="list-unstyled">
                                @foreach (var item in ViewBag.trinhdotracuu)
                                {

                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   id="customRadioTrinhDo@(item.TrinhDoChuyenMon_ID)"
                                                   name="trinhDoIds"
                                                   value="@item.TrinhDoChuyenMon_ID"
                                                   data-ml-1="@item.TrinhDoChuyenMon_ID">
                                            <label class="custom-control-label" for="customRadioTrinhDo@(item.TrinhDoChuyenMon_ID)">
                                                <span>@item.TenChuyenMon</span>
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>


    // Lấy tất cả các checkbox
    const kinhNghiemCheckboxes = document.querySelectorAll('input[name="kinhNghiemIds"]');
    const trinhDoCheckboxes = document.querySelectorAll('input[name="trinhDoIds"]');
    const mucLuongCheckboxes = document.querySelectorAll('input[name="mucLuongIds"]');

    // Lấy tất cả các hồ sơ
    const resumeItems = document.querySelectorAll('.card-item');

    // Hàm kiểm tra điều kiện lọc
    function checkResume(resumeItem, kinhNghiemIds, trinhDoIds, mucLuongIds) {
        const kinhNghiem = parseInt(resumeItem.dataset.kinhNghiem);
        const trinhDo = parseInt(resumeItem.dataset.trinhDo);
        const mucLuong = parseInt(resumeItem.dataset.mucLuong);

        return (kinhNghiemIds.length === 0 || kinhNghiemIds.includes(kinhNghiem)) &&
               (trinhDoIds.length === 0 || trinhDoIds.includes(trinhDo)) &&
               (mucLuongIds.length === 0 || mucLuongIds.includes(mucLuong));
    }

    // Hàm lọc hồ sơ
    function filterResumes() {
        const kinhNghiemIds = Array.from(kinhNghiemCheckboxes)
          .filter(checkbox => checkbox.checked)
          .map(checkbox => parseInt(checkbox.value));

        const trinhDoIds = Array.from(trinhDoCheckboxes)
          .filter(checkbox => checkbox.checked)
          .map(checkbox => parseInt(checkbox.value));

        const mucLuongIds = Array.from(mucLuongCheckboxes)
          .filter(checkbox => checkbox.checked)
          .map(checkbox => parseInt(checkbox.value));

        resumeItems.forEach(resumeItem => {
            if (checkResume(resumeItem, kinhNghiemIds, trinhDoIds, mucLuongIds)) {
                resumeItem.style.display = 'block';
            } else {
                resumeItem.style.display = 'none';
            }
        });
    }

    // Gắn sự kiện "change" cho các checkbox
    kinhNghiemCheckboxes.forEach(checkbox => checkbox.addEventListener('change', filterResumes));
    trinhDoCheckboxes.forEach(checkbox => checkbox.addEventListener('change', filterResumes));
    mucLuongCheckboxes.forEach(checkbox => checkbox.addEventListener('change', filterResumes));
</script>

